.custom-text-field .MuiInputBase-root {
  background-color: #cdcdcd;
  border-radius: 1rem;
  width: 36.3rem;
  margin-left: 5.2rem;
}

.custom-text-field .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  display: none;
}

.custom-text-field .MuiInputBase-input::placeholder {
  color: #2d2d2d;
  font-weight: bold;
}

.custom-text-field .MuiInputBase-input {
  color: #2d2d2d;
  font-weight: bold;
}

@media (max-width: 768px) {
  .custom-text-field .MuiInputBase-root {
    width: 5rem;
    margin-left: -7.3rem;
  }

  .custom-text-field .MuiInputBase-input {
    margin-left: 5rem;
  }
}
